body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Public Sans", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#root {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

:focus-visible {
  outline: none;
}

/* removes the ‘X’ from Chrome search box (input field)*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: #00ab55;
  background: #e2f5ec;
}

::selection {
  color: #00ab55;
  background: #e2f5ec;
}

/* Scrollbar Style Start */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#fff),
    to(#fff),
    color-stop(0.6, #45af79)
  );
}
/* Scrollbar Style End */

/* Bootstrap styles update start */

/* Bootstrap styles update end */
