.card_container {
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.24);
  border-color: rgba(145, 158, 171, 0.12);
  padding: 8px;
}

.card_img {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #f4f6f8;
}

.card_img:hover {
  transform: scale(1.12) translateZ(0px);
  transition: all 0.5s;
}

.card_text {
  font-weight: 600;
  font-size: 0.875rem;
}

.card_footer {
  padding: 8px;
  line-height: 2;
}
